.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
PaperScripts/
Writing/
cemetery/
sandbox/
Presentations/
.rds
.csv
.txt
.DS_Store
Code/.DS_Store
/models
.DS_Store
Code/.DS_Store
figures/
slurm-*.out
data/out
._slurm*.out
data/._.DS_Store
samples_*.rds
jags_*.rds
models/._*.txt